.app-navbar-main {
    position: fixed;
    top: 0;
    left: 130px;
    width: calc(100% - 130px);
    border-bottom: 1px solid #e6e7eb;
    padding: 3px 30px 0px 30px;
    display: flex;
    align-items: stretch;
    min-height: 40px;
}

.navbar-dropdown {
    width: 13%;
    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
        background-color: #c9f4ff;
        color: #007bfc;
    }
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
        font-size: 16px;
    }
}

.link-to-supprt {
    &:hover {
        color: #007bfc !important;
    }
}
