#sidenav-main {
    background-color: #073e57;
    display: flex;
    align-items: flex-start;
    width: 130px;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.sidebar-option {
    text-decoration: none;
    color: white;
}

.active-sidebar {
    background-color: #08384e;
    border-left: 3px solid #20c1ff;
    font-size: 16px;
    font-family: Roboto, Arial;
    font-weight: normal;
    color: #fff;
}
