.custom-table > :not(:first-child) {
    border: 0px solid #eee;
}
.custom-table {
    table-layout: fixed;
    border: 1px solid #eee;
    thead {
        tr {
            font-size: 15px;
            font-family: "Roboto", Arial;
            font-weight: normal;
        }
    }
    tbody {
        tr {
            font-size: 12px;
            font-family: "Roboto", Arial;
            font-weight: normal;
        }
    }
}

.table-actions {
    width: 10%;
}
.actions-dropdown-toggle {
    background-color: white;
    border: none;
    &:focus {
        background-color: white;
    }
    &:hover {
        background-color: white;
    }
}
.actions-dropdown-item {
    color: #525666;
    &:hover {
        color: #007bfc;
        background-color: #f5feff;
    }
}
