.login-form-container {
    display: flex;
    justify-content: center;
}
.login-form-card {
    width: 480px;
    margin-top: 120px;
    padding: 20px;
    border-radius: 10px;
}

.login-form-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 24px;
    font-weight: bold;
    font-family: "Roboto", Arial;
}

.forgot-password-link {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}

.signup-link-text {
    display: flex;
    justify-content: center;
    padding: 20px;
}
